start_date: 2022-06-01T00:00:00
end_date: 2022-06-01T06:00:00

checkpoints:
  forecaster:
    checkpoint_path: /leonardo_work/EUHPC_R04_079/hhaugen/ens_interpolator/checkpoints/o96_fcaster/inference-last.ckpt
    leadtimes: 5
  interpolator:
    checkpoint_path: /leonardo_work/EUHPC_R04_079/hhaugen/ens_interpolator/checkpoints/o96_interp_test/inference-last.ckpt
    leadtimes: 4
    static_forcings_dataset: ${dataset}


workdir: /leonardo_work/EUHPC_R04_079/hhaugen/ens_interpolator/inference/workdir/
output: /leonardo_work/EUHPC_R04_079/hhaugen/ens_interpolator/inference/output/
datasets: /leonardo_work/DestE_340_25/ai-ml/datasets/


global_land_dataset: ${datasets}/aifs-ea-an-oper-0001-mars-o96-1979-2023-6h-v3-land.zarr
global_atm_dataset: ${datasets}/aifs-ea-an-oper-0001-mars-o96-1979-2023-6h-v8.zarr


dataset:
  join:
    - ${global_atm_dataset}
    - ${global_land_dataset}
  adjust: ["start", "end"]

frequency: 6h


verif_dst_folder: ${output}/verif/
verif_name: interp_o96_test.nc

dataset_verif:
  dataset: /leonardo_work/EUHPC_R04_079/bris/datasets/ERA5/aifs-ea-an-oper-0001-mars-o96-1979-2023-1h-v1.zarr
  area: [75, -25, 40, 40]

release_cache: False
inference_num_chunks: 1

dataloader:
  datamodule:
    _target_: bris.data.dataset.NativeGridDataset
    _convert_: all

hardware:
  num_gpus_per_node: ${oc.decode:${oc.env:SLURM_GPUS_PER_NODE}}
  num_nodes: ${oc.decode:${oc.env:SLURM_NNODES}}
  num_gpus_per_model: 2
  num_members: 4

model:
  _target_: bris.model.interpolator.Interpolator
  fcstep_const: True
  _convert_: all

routing: 
  - decoder_index: 0
    domain_index: 0
    outputs:
      - netcdf: 
          filename_pattern: ${output}/predictions/test_interp_pred_%Y%m%dT%HZ.nc
          variables: ["2t", "msl", "tp"]
          extra_variables: ["ws"]
          accumulated_variables: ["tp"]
          interp_res: 1.0

      - verif:
          filename: ${verif_dst_folder}/t2m/${verif_name}
          variable: 2t
          units: degC
          elev_gradient: -0.0065
          obs_sources:
            - anemoidataset:
                dataset: ${dataset_verif}
                variable: 2t
