defaults:
- data: zarr
- dataloader: native_grid
- diagnostics: evaluation
- datamodule: ens
- hardware: example
- graph: multi_scale
- model: graphtransformer_ens
- training: default
- _self_

hydra:
  output_subdir: null
  run:
    dir: .

config_validation: False

data:
  resolution: "20.0"

dataloader:
  dataset: ${hardware.paths.data}${hardware.files.dataset}

  num_workers:
    training: 2
    validation: 2
    test: 2
    predict: 2

  limit_batches:
    training: 20
    validation: 20
    test: null
    predict: null

  batch_size:
    training: 1
    validation: 1
    test: 1
    predict: 1
  
  training:
    start: 2022-01-01
    end: 2022-01-31

  validation:
    start: 2022-02-01
    end: 2022-02-28 
  
  test:
    start: 2022-03-01
    end: 2022-03-31

diagnostics:
  checkpoint:
    every_n_minutes:
      num_models_saved: 0

    every_n_epochs:
      num_models_saved: 2
  plot:
    callbacks: []
  log:
    interval: 100
    wandb:
      entity: null
    mlflow:
      enabled: False
      tracking_uri: https://mlflow.ecmwf.int
      
hardware: 
  num_gpus_per_node: 1
  num_gpus_per_model: 1
  num_gpus_per_ensemble: 1
  num_nodes: 1

  paths:
    data: ./
    output: interp-training-output/
    graph: interp-training-output/
  files:
    dataset: ./bris_random_data.zarr
    graph: small_graph_20p0.pt
  accelerator: cpu

  graph:
    overwrite: True

    nodes:
      hidden:
        node_builder:
          resolution: 3

  edges:
  - source_name: ${graph.data}
    target_name: ${graph.hidden}
    edge_builders:
    - _target_: anemoi.graphs.edges.KNNEdges # options: KNNEdges, CutOffEdges
      num_nearest_neighbours: 3 # only for cutoff method
    attributes: ${graph.attributes.edges}
  - source_name: ${graph.hidden}
    target_name: ${graph.hidden}
    edge_builders:
    - _target_: anemoi.graphs.edges.MultiScaleEdges
      x_hops: 1
    attributes: ${graph.attributes.edges}
  - source_name: ${graph.hidden}
    target_name: ${graph.data}
    edge_builders:
    - _target_: anemoi.graphs.edges.KNNEdges # options: KNNEdges, CutOffEdges
      num_nearest_neighbours: 1 # only for knn method
    attributes: ${graph.attributes.edges}

model:
  num_channels: 16
  trainable_parameters: 
    data: 0
    hidden: 0
    data2hidden: 0
    hidden2hidden: 0
    hidden2data: 0

training:
  model_task: anemoi.training.train.tasks.GraphEnsForecaster
  ensemble_size_per_device: 1

  strategy:
    _target_: anemoi.training.distributed.strategy.DDPEnsGroupStrategy
    num_gpus_per_ensemble: ${hardware.num_gpus_per_ensemble}
    num_gpus_per_model: ${hardware.num_gpus_per_model}
    read_group_size: ${dataloader.read_group_size}
    
  max_steps: 20
